<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bori.project31.repository.MemberMapper">

    <!-- tb_member 테이블 전체 컬럼 -->
    <sql id="memberColumns">
          mno
        , mid
        , mpw
        , name
        , gender
        , exp
        , mintro
    </sql>

	<!-- 랭킹 (member, level) -->
	<select id="selectMemberRank" resultType="com.bori.project31.model.MemberRank">
		SELECT m.mno, m.mid, m.name, m.exp, l.grade,
		       ROW_NUMBER() OVER (ORDER BY exp DESC) AS ranking
		FROM member m JOIN level l ON m.exp BETWEEN l.loexp AND l.hiexp;
	</select>

	<!-- 랭킹에서 개별회원 눌렀을때 -->
	<select id="selectRankByMno" parameterType="Integer" resultType="com.bori.project31.model.MemberRank">
		SELECT m.mno, m.mid, m.name, m.exp, l.grade,
			   ROW_NUMBER() OVER (ORDER BY exp DESC) AS ranking
		FROM member m JOIN level l ON m.exp BETWEEN l.loexp AND l.hiexp
		WHERE m.mno = #{mno}
	</select>

	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.bori.project31.model.Member"
			useGeneratedKeys="true" keyProperty="mno">
		INSERT INTO member (mid, mpw, name, gender, mintro)
		VALUES (#{mid}, #{mpw}, #{name}, #{gender}, #{mintro})
	</insert>

	<!-- 정답일때 경험치 + -->
	<update id="updateExp1" parameterType="Integer">
		UPDATE member SET exp=exp+30 WHERE mno=#{mno}
	</update>

	<!-- 오답일때 경험치 + -->
	<update id="updateExp2" parameterType="Integer">
		UPDATE member SET exp=exp+10 WHERE mno=#{mno}
	</update>

	<update id="updateMember" parameterType="com.bori.project31.model.Member">
		
	</update>

	<!-- 멤버정보 조회 (mid) -->
	<select id="selectById" parameterType="String" resultType="com.bori.project31.model.Member">
		SELECT * FROM member WHERE mid=#{mid}
	</select>

	<!-- 멤버정보 조회 (mno)-->
	<select id="selectByMno" parameterType="Integer" resultType="com.bori.project31.model.Member">
		SELECT * FROM member WHERE mno=#{mno}
	</select>

	<!-- 아이디 중복조회 -->
	<select id="countMemberById" parameterType="String" resultType="boolean">
		SELECT COUNT(*) FROM member WHERE mid=#{mid}
	</select>
	

</mapper>