<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="container" >
        <h2>종합랭킹</h2>
        <h3 th:text="${info.name}+'님의 방명록'"></h3>
        <table class="guestbookInfo">
            <colgroup>
                <col width="50%"/>
                <col width="50%"/>
            </colgroup>
            <tbody th:each="list:${info}">
            <tr>
                <th scope="col">순위</th>
                <td scope="col">[[${list.ranking}]]</td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td>[[${list.name}]]</td>
            </tr>
            <tr>
                <th>레벨</th>
                <td>[[${list.grade}]]</td>
            </tr>
            <tr>
                <th>경험치</th>
                <td>[[${list.exp}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="border-top: 1px solid black; margin-top: 10px; margin-bottom: 10px;"></div>
    <button type="button" class="btns" onclick="like(${info.mno});">추 천</button>
    <button type="button" class="btns" onclick="">비추천</button>
    <button type="button" class="btns" onclick="">뒤로가기</button>
    <div style="border-top: 1px solid black; margin-top: 10px; margin-bottom: 10px;"></div>

    <div class="cm_list">

    </div>

    <div class="cm_write">
        <fieldset>
            <legend class="skipinfo">댓글 입력</legend>
            <div class="cm_input">
                <p><textarea id="content" name="content" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                <span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i id="counter">0/300자</i></span>
            </div>
        </fieldset>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">


    // 댓글 길이 카운팅
    function countingLength(content) {
        if (content.value.length > 300) {
            alert('댓글을 300자 이하로 입력해 주세요.');
            content.value = content.value.substring(0, 300); //300자 만큼의 문자열 추출
            content.focus(); //댓글창 자동 포커스
        }
        document.getElementById('counter').innerText = content.value.length + '/300자';
    }

    // 댓글 저장
    function saveComment() {
        const content = document.getElementById('content');
        // isValid(content, '댓글');

        const guestbookmno = [[${info.mno}]];
        const params = {
            guestbookmno : guestbookmno,
            content : content.value,
            writer : '홍길동',
        }
        console.log(params);
        $.ajax({
            url : `/posts/${guestbookmno}/comments`,
            type : 'post',
            contentType : 'application/json; charset=utf-8',
            dataType : 'json',
            data : JSON.stringify(params),
            async : false,
            success : function (response) {
                console.log('아무거나 나와봐');
                alert('저장되었습니다 ⸜( ˙ ˘ ˙)⸝♡');
                content.value = '';
                document.getElementById('counter').innerText = '0/300자';
                findAllComment();
            },
            error : function (request, status, error) {
                console.log(error)
            }
        });
    }

    //댓글 목록 불러오기
    window.onload = () => {
        findAllComment();
    }
    function findAllComment(){
        const mno = [[${info.mno}]];
        $.ajax({
            url: `/posts/${mno}/comments`,
            type: 'get',
            dataType: 'json',
            async: false,
            success: function (response){
                // console.log(response);
                if(!response.length){ //결과의 길이가 0인경우 (조회된 데이터가 없는 경우)
                    document.querySelector('.cm_list').innerHTML =
                        '<div class="cm_none"><p>등록된 방명록이 없습니다.</p></div>';
                    return false; //함수 종료
                }
                let commentHtml = '';
                response.forEach(row =>{
                    commentHtml += `
                        <div>
                            <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                            <p class="writer">
                                <em>${row.writer}</em>
                                <span class="date">${row.createdDate}</span>
                            </p>
                            <div class="cont">
                                <div class="txt_${row.cno}">${row.content}</div>
                                <textarea class="txt_${row.cno}_textarea" style="display: none;"  onKeyUp="countingLength(this);" cols="90" rows="4"></textarea>
                            </div>
                            <p class="func_btns">
                                <button type="button" class="commUpdateBtn_${row.cno}" onclick="updateCommentForm(${row.cno})"><span class="icons icon_modify">수정</span></button>
                                <button type="button" class="updateCom_${row.cno}" style="display: none;" onclick="updateComment(${row.cno})"><span class="icons icon_modify">완료</span></button>
                                <button type="button" class="delBtn_${row.cno}" onclick="deleteComment(${row.cno});"><span class="icons icon_del">삭제</span></button>
                            </p>
                        </div>
                    `;
                })
                document.querySelector('.cm_list').innerHTML = commentHtml;
            },
            error: function (request, status, error){
                console.log(error)
            }
        })
    }

    //댓글 수정하기
    function updateCommentForm(cno) {
        console.log(cno);
        const content = document.querySelector(`.txt_${cno}`).innerText;
        document.querySelector(`.txt_${cno}_textarea`).value = content;

        document.querySelector(`.txt_${cno}_textarea`).style.display = 'block';
        document.querySelector(`.updateCom_${cno}`).style.display = 'block';

        document.querySelector(`.commUpdateBtn_${cno}`).style.display = 'none';
        document.querySelector(`.delBtn_${cno}`).style.display = 'none';
        document.querySelector(`.txt_${cno}`).style.display = 'none';
    }

    function updateComment(cno){
        const content = document.querySelector(`.txt_${cno}_textarea`).value;
        const mno = [[${info.mno}]];
        console.log(content, mno);
        const params = {
            cno: cno,
            mno: mno,
            content: content,
            writer: '홍길동'
        }
        console.log(params);
        $.ajax({
            url : `/posts/${mno}/comments/${cno}`,
            type : 'patch',
            contentType : 'application/json; charset=utf-8',
            dataType : 'json',
            data : JSON.stringify(params),
            async : false,
            success : function (response) {
                alert('수정되었습니다 ꙳꒰•◡̎•꒱꙳');
                findAllComment();

            },
            error: function (request, status, error) {
                console.log(error)
            }
        });
    }

    //댓글 삭제
    function deleteComment(cno){
        if (!confirm('선택하신 댓글을 삭제할까요?❉𓂂(◕˓˳◕ )𓂂❉')) {
            return false; //취소하는 경우 로직 종료
        }
        const mno=[[${info.mno}]];
        $.ajax({
            url: `/posts/${mno}/comments/${cno}`,
            type : 'delete',
            dataType : 'json',
            async : false,
            success: function (response){
                alert('삭제되었습니다 (*ᴗ͈ˬᴗ͈)ꕤ*.ﾟ');
                findAllComment();
            },
            error : function (request, status, error) {
                console.log(error)
            }
        });
    }

    function like(guestbookmno){

    }


</script>

</body>
</html>